<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>W-Hotels</title>
    <link rel="icon" type="image/png" href="/css/images/black_logo.png.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>

<header class="header">
    <div class="container">
        <nav class="nav">
            <a href="/" class="logo">
                <img src="/css/images/w_logo.png" alt="">
            </a>
            <div class="hamburger-menu" id="menu">
                <i class="fas fa-bars"></i>
                <i class="fas fa-times"></i>
            </div>
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/hotels" class="nav-link">Hotels</a>
                </li>
                <li class="nav-item">
                    <a href="/contact" class="nav-link">Contact</a>
                </li>
            <% if(auth){ %>                
                    <li class="nav-item">
                        <a href="/reservations" class="nav-link">Reservations</a>
                    </li>                  
                    <li class="nav-item">
                        <a class="nav-link" id="logout">Logout</a>
                    </li>   
                </ul>
            <% } else{ %>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="/login" class="nav-link">Login/Sign up</a>
                    </li>
                </ul>
            <% } %>

            
        </nav>
    </div>
</header>

<section class="contact">
    <div class="container">
        <h5 class="section-head">
            <span class="heading">Contact</span>
            <span class="sub-heading">Get in touch with us</span>
        </h5>
        <div class="contact-content">
            <div class="traveller-wrap">
                <img src="/css/images/traveler.png" alt="">
            </div>
            <form class="form contact-form" action="https://formsubmit.co/whotelsproject@gmail.com" method="POST">
                <div class="input-group-wrap">
                    <div class="input-group">
                        <input type="hidden" name="_subject" value="W hotels - customer support">
                        <input type="text" class="input" placeholder="Name" name="name" required>
                        <span class="bar"></span>
                    </div>
                    <div class="input-group">
                        <input type="email" class="input" placeholder="E-mail" name="email" required>
                        <span class="bar"></span>
                    </div>
                </div>
                <div class="input-group">
                    <input type="text" class="input" placeholder="Subject" required>
                    <span class="bar"></span>
                </div>
                <div class="input-group">
                    <textarea class="input" cols="30" rows="8" placeholder="Message" required></textarea>
                    <span class="bar"></span>
                </div>
            
                <button type="submit" class="btn form-btn btn-purple">Send Message
                    <span class="dots"><i class="fas fa fa-ellipsis-h"></i></span>
                </botton>

                <!-- <input type="hidden" name="_next" value="/thankYou"> -->
          
            </form>
        </div>
    </div>
</section>




<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-content-brand">
                <a href="/" class="logo">
                    <img class="logo-image" src="/css/images/w_logo.png" alt="">
                </a>
                <div class="paragraph">
                    E-mail: whotelsproject@gmail.com
                </div>
            </div>
            <div class="social-media-wrap">
                <h4 class="footer-heading">Follow Us</h4>
                <div class="social-media">
                    <a href="https://he-il.facebook.com/WHotels/" class="sm-link"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com/whotels/" class="sm-link"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
<script src="scripts/contact.js"></script>
</body>

</html>