<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="loginStyle.css" href="https://fonts.googleapis.com/css?family=Roboto" />>
    <title>Login/ Sign Up</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <nav class="nav">
                <a href="index.html" class="logo">
                    <img src="/images/w_logo.png" alt="">
                </a>
                <div class="hamburger-menu">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-times"></i>
                </div>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="/index.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about.html" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="/hotels.html" class="nav-link">Hotels</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">News</a>
                    </li>
                    <li class="nav-item">
                        <a href="/contact.html" class="nav-link">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div id=" content" class="login_container">
        <form action = "/login" class="form" id="login">
            <h1 class="form__title">Login</h1>
            <div class="form__message form__message--error"></div> 
            <div class="form__input-group">
                <input id="user-email" type="text" class="form__input" autofocus placeholder="Username or email">
                <div class="form__input-error-message"></div>
            </div>  
            <div class="form__input-group">
                <input id="user-password" type="password" class="form__input" autofocus placeholder="password">
                <div class="form__input-error-message"></div>
            </div>  
            <button id="btn__login" class="form__button" type=""submit>continue</button>
            <div class="google-btn">
                <div class="google-icon-wrapper">
                  <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                </div>
                <p class="btn-text"><b>Sign in with google</b></p>
              </div>
            <p class="form__text">
                <a href="#" class="form__link">Forgot your password?</a>
            </p>
            <p class="form__text">
                <a class="form__link href="./" id="linkCreateAccount" class="form__link">Dont have an account? Create Account</a>
            </p>
        </form>
        <form class="form form--hidden" id="createAccount">
            <h1 class="form__title">Create Account</h1>
            <div class="form__message form__message--error"></div> 
            <div class="form__input-group">
                <input type="text" id="signupUsername" class="form__input" autofocus placeholder="Username">
                <div class="form__input-error-message"></div>
            </div>  
            <div class="form__input-group">
                <input type="text" class="form__input" autofocus placeholder="E-mail Address">
                <div class="form__input-error-message"></div>
            </div>  
            <div class="form__input-group">
                <input type="password" class="form__input" autofocus placeholder="password">
                <div class="form__input-error-message"></div>
            </div>  
            <div class="form__input-group">
                <input type="password" class="form__input" autofocus placeholder="Confirm password">
                <div class="form__input-error-message"></div>
            </div>  
            <button class="form__button" type=""submit>continue</button>
            <div class="google-btn">
                <div class="google-icon-wrapper">
                  <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                </div>
                <p class="btn-text"><b>Sign up with google</b></p>
              </div>
            <p class="form__text">
                <a class="form__link href="./" id="linkLogin" class="form__link">Already have an account? Sign in</a>
            </p>
        </form>
    </div>
     <script src="login.js"></script>
     <script src="https://apis.google.com/js/api:client.js"></script>
</body>
</html>