

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_eMDNkz4jBL50Az4NdYBxXlrs3zxUj4U&callback=initMap&v=weekly"
            defer
    ></script>
    <title>W-Hotels</title>
    <link type="image/png" href="/css/images/black_logo.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="/css/home.css" type="text/css">
</head>

<body>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '689459155649652',
            xfbml: true,
            version: 'v15.0'
        });
        FB.AppEvents.logPageView();
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));


    //validation of the date range
    function checkDateRange(start, end) {
        // Parse the entries
        var startDate = document.getElementById("checkin");
        var endtDate = document.getElementById("checkout");
        // Check the date range, 86400000 is the number of milliseconds in one day
        var difference = (endDate - startDate) / (86400000 * 7);
        if (difference < 0) {
            alert("The start date must come before the end date.");
            return false;
        }

        return true;
    }
</script>
<header class="header" id = "user">
    <div class="container">
        <nav class="nav">
            <a href="" class="logo">
                <img src="/css/images/w_logo.png" alt="">
            </a>
            <div class="hamburger-menu">
                <i class="fas fa-bars"></i>
                <i class="fas fa-times"></i>
            </div>
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/hotels" class="nav-link">Hotels</a>
                </li>

                <li class="nav-item">
                    <a href="/contact" class="nav-link">Contact</a>
                </li>
                <li class="nav-item">
                    <a href="/reservations" class="nav-link">Reservations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="logout">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="hero">
        <div class="container">
            <div class="main-heading">
                <h1 class="user-title">welcome
                    <% if(user.firstName){ %>
                        <%= user.firstName %>
                    <% } else{ %>
                        <%= user.username %>
                    <% } %></h1>
                <h2 class="subtitile">W Hotels</h2>
            </div>
            <a href="/hotels" class="btn btn-gradient">Explore Now
                <span>
                    <div class="dots"><i class="fas fa-allipsis-h"></i></div>
                </span>
            </a>
        </div>
    </div>

    <section class="booking">
        <div class="container">
            <form id="hotels-search-form" action="hotel" method="get" class="form">
                <div class="input-group ">
                    <label for="destination" id="hotel-dest" class="input-label">Hotels</label>
                    <select name="hotelName" id="hotel-choice" class="options">
                        <% for (var i = 0; i < hotels.length ; i++) { %>
                            <option>
                                <%= hotels[i].hotelName %>
                            </option>
                        <% } %>
                    </select>
                </div>


                <div class="input-group">
                    <label id="checkin" for="check-in" class="input-label">Check in</label>
                    <input name="checkIn" type="date" class="input" id="check-in" required>
                </div>
                <div class="input-group">
                    <label id="checkout" for="check-out" class="input-label">Check out</label>
                    <input name="checkOut" type="date" class="input" id="check-out" required>
                </div>

                <div class="input-group">
                    <label for="adults" class="input-label ">Adults</label>
                    <select name="adultsChoice" class="options" id="adults-choice">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>


                <div class="input-group">
                    <label for="children" class="input-label">Children</label>
                    <select name="childrenChoice" class="options" id="children-choice">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <button type="submit" id="hotels-search" class="btn form-btn btn-purple ">
                    Search
                    <span class="dots">
                            <i class="fas fa-ellipsis-h"></i>
                    </span>
                </button>
            </form>
        </div>
        <div id="map"></div>
    </section>




</main>

<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-content-brand">
                <a href="/" class="logo">
                    <img class="logo-image" src="/css/images/w_logo.png" alt="">
                </a>
                <div class="paragraph">
                    E-mail: whotelsproject@gmail.com
                </div>
            </div>
            <div class="social-media-wrap">
                <h4 class="footer-heading">Follow Us</h4>
                <div class="social-media">
                    <a href="https://he-il.facebook.com/WHotels/" class="sm-link"><i class="fab fa-facebook-square" target="_blank"></i></a>
                    <a href="https://www.instagram.com/whotels/" class="sm-link"><i class="fab fa-instagram" target="_blank"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/scripts/user.js"></script>
</body>

</html>