/*Import the fonts used*/
@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans:400,800&display=swap');

.reservations-table {
    font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
    margin-top: 45px;
    font-size: 0.9em;
    min-width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.reservations-table thead tr {
    background-color: #0ca3ba;
    color: #242424;
    text-align: center;
    font-size: 18px;
}

.reservations-table th,
.reservations-table td {
    padding: 15px 17px;

}

.reservations-table tbody tr {
    border-bottom: 1px solid #dddddd;
    font-size: 1.7rem;
    background-color: whitesmoke;
}

.reservations-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;

}

.reservations-table tbody tr:last-of-type {
    border-bottom: 2px solid #15a5ba;
    padding-left: 5px;
}

.reservations-table tbody tr.active-row {
    font-weight: bold;
    color: #196b5b;
}


/* .btn {
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: .5rem 3.5rem;
    border: none;
    border-radius: 10rem;
    display: inline-flex;
    align-items: center;

} */



/* CSS */
.button {
  background-color: #c2f1fb;
  border-radius: 100px;
  /* box-shadow: rgba(143, 174, 166, 0.886) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px; */
  color: rgb(89, 140, 146);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: rgba(255, 255, 255, 0.92) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.save {
    display: none;
    background-color: #c2f1fb;
    border-radius: 100px;
    /* box-shadow: rgba(143, 174, 166, 0.886) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px; */
    color: rgb(89, 140, 146);
    cursor: pointer;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.save:hover {
    box-shadow: rgba(255, 255, 255, 0.92) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

#admin__search{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.iconfinder.com%2Ficons%2F172546%2Fsearch_icon&psig=AOvVaw1wvLC1bx6QgXGBWKRNiqu4&ust=1668962807380000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCNCawIvZuvsCFQAAAAAdAAAAABAJ);
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}