<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>W-Hotels</title>
    <link rel="icon" type="image/png" href="./images/black_logo.png.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <nav class="nav">
                <a href="/" class="logo">
                    <img src="./images/w_logo.png" alt="">
                </a>
                <div class="hamburger-menu">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-times"></i>
                </div>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="about.html" class="nav-link">About</a>
                    </li> -->
                    <li class="nav-item">
                        <a href="hotels.ejs" class="nav-link">Hotels</a>
                    </li>
                
                    <li class="nav-item">
                        <a href="contact.ejs" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="login.ejs" class="nav-link">Login/Sign up</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="rooms">
        <div class="container">
            <h5 class="section-head">
                <span class="heading">Rooms</a></span>
                <span class="sub-heading"><%=hotels[1].hotelName %></span>
            </h5>
            <div class="grid-item featured-rooms">

                <div class="image-wrap">
                    <h5 class="room-name">Luxurious Family Room</h5>

                    <img class="room-image" src="./images/room_3.jpg" alt="">
                </div>
                <div class="room-info-wrap">
                    <span class="room-price">$250 <span class="per-night">per night</span></span>
                    <p class="paragraph">
                        The biggest suite in the hotel.
                        has flat screen TV, ocean view, queens size bed and a pourch.
                    </p>
                    <a href="" class="btn rooms-btn">BOOK NOW &rarr;</a>
                </div>
            </div>

            <div class="grid-item featured-rooms">

                <div class="image-wrap">
                    <h5 class="room-name">Ocean View Suite</h5>

                    <img class="room-image" src="./images/room_9.jpg" alt="">
                </div>
                <div class="room-info-wrap">
                    <span class="room-price">$400 <span class="per-night">per night</span></span>
                    <p class="paragraph">
                        The biggest suite in the hotel.
                        has flat screen TV, ocean view, queens size bed and a pourch.
                    </p>
                    <a href="" class="btn rooms-btn">BOOK NOW &rarr;</a>
                </div>
                
            </div>
         </div>
        
</section>






    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="footer-content-brand">
                    <a href="/" class="logo">
                        <img class="logo-image" src="./images/w_logo.png" alt="">
                    </a>
                    <div class="paragraph">
                        E-mail: Whotels@gmail.com       
                    </div>
                </div>
                <div class="social-media-wrap">
                    <h4 class="footer-heading">Follow Us</h4>
                    <div class="social-media">
                        <a href="https://he-il.facebook.com/WHotels/" target="_blank" class="sm-link"><i class="fab fa-facebook-square"></i></a>
                        <a href="https://www.instagram.com/whotels/" target="_blank" class="sm-link"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/scripts/home.js"></script>

</body>
</html>