<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>W-Hotels</title>
    <link rel="icon" type="image/png" href="/css/images/black_logo.png.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
<header class="header">
    <div class="container">
        <nav class="nav">
            <a href="/" class="logo">
                <img src="/css/images/w_logo.png" alt="">
            </a>
            <div class="hamburger-menu">
                <i class="fas fa-bars"></i>
                <i class="fas fa-times"></i>
            </div>
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/hotels" class="nav-link">Hotels</a>
                </li>

                <li class="nav-item">
                    <a href="/contact" class="nav-link">Contact</a>
                </li>
                <li class="nav-item">
                    <a href="/login" class="nav-link">Login/Sign up</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<section class="booking">
    <div class="container">
        <h5 class="section-head">
            <span class="heading">Explore</span>
            <span class="sub-head">Our Beautiful Hotels</span>
        </h5>
        <div class="input-group">
            <form action="" class="form">
                <label for="destination" id="hotel-dest" class="input-label">Hotels</label>
                <select class="options" id="hotel-choice">
                    <option value="none">Select</option>
                    <% for (var i = 0; i < hotels.length ; i++) { %>
                        <option>
                            <%= hotels[i].hotelName %>
                        </option>
                    <% } %>
                </select>
        </div>


        <div class="input-group">
            <label for="check-in" class="input-label">Check in</label>
            <input type="date" class="input" id="check-in">
        </div>
        <div class="input-group">
            <label for="check-out" class="input-label">Check out</label>
            <input type="date" class="input" id="check-out">
        </div>

        <div class="input-group">
            <label for="adults" class="input-label">Adults</label>
            <select class="options" id="adults">
                <option value="0">0</option>
                <option value="0">1</option>
                <option value="0">2</option>
                <option value="0">3</option>
                <option value="0">4</option>
                <option value="0">5</option>
            </select>
        </div>


        <div class="input-group">
            <label for="children" class="input-label">Children</label>
            <select class="options" id="children">
                <option value="0">0</option>
                <option value="0">1</option>
                <option value="0">2</option>
                <option value="0">3</option>
                <option value="0">4</option>
                <option value="0">5</option>
            </select>
        </div>
        <button type="submit" id="hotels-search" class="btn form-btn btn-purple ">
            Search
            <span class="dots">
                    <i class="fas fa-ellipsis-h"></i>
                </span>
        </button>
    </form>
    </div>
</section>

       


<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-content-brand">
                <a href="/" class="logo">
                    <img class="logo-image " src="/css/images/w_logo.png" alt=" ">
                </a>
                <div class="paragraph ">
                    E-mail: Whotels@gmail.com
                </div>
            </div>
            <div class="social-media-wrap">
                <h4 class="footer-heading">Follow Us</h4>
                <div class="social-media">
                    <a href="https://he-il.facebook.com/WHotels/ " class="sm-link"><i
                                class="fab fa-facebook-square "></i></a>
                    <a href="https://www.instagram.com/whotels/ " class="sm-link"><i
                                class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/scripts/hotels.js"></script>
</body>