<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>W-Hotels</title>
    <link rel="icon" type="image/png" href="./images/black_logo.png.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
<header class="header">
    <div class="container">
        <nav class="nav">
            <a href="/" class="logo">
                <img src="./images/w_logo.png" alt="">
            </a>
            <div class="hamburger-menu">
                <i class="fas fa-bars"></i>
                <i class="fas fa-times"></i>
            </div>
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/hotels" class="nav-link">Hotels</a>
                </li>
                <li class="nav-item">
                    <a href="/resarvations" class="nav-link">Resarvation</a>
                </li>

                <li class="nav-item">
                    <a href="/contact" class="nav-link">Contact</a>
                </li>

            </ul>
        </nav>
    </div>
</header>

<footer class="footer ">
    <div class="container ">
        <div class="footer-content ">
            <div class="footer-content-brand ">
                <a href="/ " class="logo ">
                    <img class="logo-image " src="./images/w_logo.png " alt=" ">
                </a>
                <div class="paragraph ">
                    E-mail: Whotels@gmail.com
                </div>
            </div>
            <div class="social-media-wrap ">
                <h4 class="footer-heading ">Follow Us</h4>
                <div class="social-media ">
                    <a href="https://he-il.facebook.com/WHotels/ " class="sm-link "><i
                                class="fab fa-facebook-square "></i></a>
                    <a href="https://www.instagram.com/whotels/ " class="sm-link "><i
                                class="fab fa-instagram "></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/scripts/hotels.js "></script>
</body>